/*
main
*/
*{
  box-sizing: content-box;
}
html{
  font-size: 62.5%;
}
body{
  color: white;
  font-family: roboto;
}
h1{
  font-size: 6.4rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 1.8rem;
}
.main {
  width: 100%;
  max-width: 960px;
  color: white;
  margin: auto;
}

.banner{
  position: relative;
}
.banner h1{
  position: absolute;
  top: 46px;
  width: 100%;
  text-align: center;
}
.banner h2{
  position: absolute;
  bottom: 140px;
  left: 52px;
  padding: 24px 24px 24px 18px;
  background-color: rgba(114, 153, 254, 0.5);
  line-height: 1.3;
}
.banner img{
  display: block;
}
/*
my-skills
*/
.my-skills {
  background-color: #7299fe;
  padding: 40px 104px 60px;
}

.my-skills h2{
  text-align: center;
  margin-bottom: 26px;
}

.my-skills .item{
  display: inline-block;
  width: 47%;
  margin-bottom: 20px;
}

.my-skills .item:nth-child(odd){
  margin-right: -3px;
  padding-right: 12px;
}

.my-skills .item:nth-child(even){
  padding-left: 12px;
}

.my-skills .bar{
  height: 18px;
  background: white;
}

.my-skills .bar div{
  height: 100%;
  width: 80%;
  background: black;
}

.my-skills h3{
  margin-bottom: 8px;
}
/*
services
*/
.services {
  background-color: #fb7171;
  padding: 40px 104px 60px;
}

.services h2{
  text-align: center;
  padding: 40px 104px 60px;
  margin-bottom: 26px;
}

.services .img{
  display: inline-block;
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.services h3{
  margin-top: 10px;
  margin-bottom: 50px;
}
/*
portfolio
*/
.portfolio {
  background-color: #ffd233;
  padding-bottom: 60px;
}

.folio{
  text-align: center;
  padding: 40px 104px 60px;
}

.img1{
  display: inline-block;
  padding: 10px 100px 10px;
}
.subimg {
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
}
/*
clients
*/
.clients {
  background-color: #3f4e62;
}

.clients h2{
  text-align: center;
  padding: 40px 104px 10px;
}

.clients .img{
  padding: 40px 20px 60px;
}
/*
contact
*/
.contact {
  background-color: #16a085;
  padding: 40px 104px 60px;
}

.cont h2{
  text-align: center;
  padding: 40px 104px 60px;
}

form input{
  display: inline-block;
  width: 48%;
  height: 40px;
  margin-bottom: 10px;
}
.contact .texte{
  width: 730px;
  height: 200px;
  outline: none;
  resize: none;
  margin-bottom: 10px;
}


.contact .bott{
  display: block;
  text-align: center;
  height: 20px;
}
.bott .bot{
  background: #233451;
  border:  none;
  height: 40px;
  width: 90px;
  color: white;
}